region             = "us-east-1"
aws_profile        = "<profile-da-conta-cicd>"
network_profile    = "<profile-de-leitura-na-conta-network>"
hub_vpc_name       = "<tag-name-da-vpc-hub>"
vpc_cidr           = "10.2.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b"]
network_account_id = "<id-da-conta-network>"
target_account_ids = ["<id-da-conta-alvo>"]
